.offersApp {
  text-align: center;
  background-size: 100% 1789px;
  background-position: top center;
  background-repeat: repeat-x;
  font-family: Arial, Helvetica, sans-serif;
}

.offersApp .outer {
  display: flex;
  flex-flow: row wrap;
  max-width: 460px;
  width: 100%;
  margin: 0px auto 10px auto;
  transition: all 1000ms ease-in-out;
}

.offersApp .wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  max-width: 460px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  font-size: 12px;
  color: #314992;
  margin: 0px auto 0px auto;
}

.offersApp .wrapper>* {
  flex: 1 100%;
}

.offersApp .head-inner {
  max-width: 270px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.offersApp .footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 10px;
  margin-top: 220px;
  background: #00aee1;
  color: #ffffff;
  font-size: 12px;
  font-weight: 200;
  text-align: left;
}

.offersApp  p {
  margin: 0px;
}

.offersApp .heading {
  font-weight: 700;
  font-size: 16px;
  width: 240px;
  max-width: 240px;
}

.offersApp .aside-1 {
  padding: 10px;
  background-color: rgba(204, 218, 231, 0.95);
  font-size: 12px;
  color: #314992;
  text-align: left;
  font-weight: 200;
  font-size: 12px;
  word-break: break-word;
}

.offersApp .aside-2 {
  padding: 10px;
  background: #f2d330;
  text-align: right;
  font-weight: 200;
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.offersApp .aside-2 p {
  font-weight: 800;
  font-size: 18px;
}

.offersApp .btn {
  width: 150px;
  font-weight: 500;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 3px;
  color: #48bfe7;
  font-size: 14px;
  background: #b2ebf7;
  padding: 18px 20px 18px 20px;
  text-decoration: none;
  border: none;
}

.offersApp .btn:hover {
  background: #22bfe5;
  color: #ffffff;
  text-decoration: none;
  border: none;
}

.offersApp .btn:active {
  background: #00aee1;
  color: #ffffff;
  outline: none;
  border: none;
}

.offersApp .btn__container {
  background-color: transparent;
  border: 0;
  padding: 0px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 1px 2px rgba(0, 170, 220, 0.5)
}

.offersApp .btn__container:focus,
.offersApp .btn__container:active,
.offersApp .book_btn:focus,
.offersApp .book_btn:active {
  border: 0;
  outline: none;
  border: none;
}

.offersApp .book_btn {
  display: block;
  margin: 10px auto 0px auto;
  width: 150px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  background: #19388a;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  border: none;
}

.offersApp section {
  margin: 0px auto 10px auto;
}

.offersApp .btn__container .active,
.offersApp .btn:focus {
  background: #00aee1;
  color: #ffffff;
  outline: none;
  border: none;
}

.offersApp .dropdown {
  overflow: hidden;
  height: 0;
  transition: 0.4s;
  background-color: #ffffff;
  color: #00aee1;
}

.offersApp .droptext {
  background-color: #ffffff;
  color: #00aee1;
  padding: 10px 10px 0px 10px;
}

.offersApp .expanded {
  height: auto;
}

.offersApp .drop_btn {
  float: right;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.offersApp .availablility {
  max-width: 400px;
  display: inline-block;
  font-size: 14px;
  margin:2px auto 0px 0px;
  text-align:left;
}

.offersApp .stars {
  word-wrap: none;
  color: #ffad00;
  font-size: 12px;
  text-shadow: 1px 1px 1px #f2d330;
}

@media all and (min-width: 460px) {
  .offersApp .aside {
    flex: 1 auto;
    max-width: none;
  }
  .offersApp .aside-1 {
    max-width: 330px;
    width: 100%;
  }
  .offersApp .aside-2 {
    border-left: solid 2px #286dba;
    max-width: 88px;
    width: 100%;
  }
  .offersApp .btn {
    width: auto;
  }
  .offersApp .btn__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .offersApp .btn__wrapper .btn__container {
    margin: 10px 0px;
  }
  .offersApp .drop_btn {
    float: right
  }
}